.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  // // Selecting direct children __shape and __text
  // & > * {
  //   transform: skewX(12deg);
  // }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    // circle(radius at xCenter yCenter)
    // 50% --> of width and height of element
    // TO WRAP TEXT
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    // TO MAKE A CIRCLE
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    background-position: center;
    position: relative;
  }

  &__img {
    // WIDTH OF HIS PARENT, INSIDE OF SHAPE COMPONENT
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all 0.5s;
  }

  &__text {
    // height: 15rem;
    transform: skewX(12deg);
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    // INITIAL POSITION TO EFFECT
    transform: translate(-50%, 20%);
    color: $color-white;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: all 0.8s;
    // TO FIX SHAKING ANIMATION
    backface-visibility: hidden;
    transition: all 0.5s;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  // When hover change the story__img element
  &:hover &__img {
    transform: translate(-4rem) scale(1);
    // blur effect
    filter: blur(3px) brightness(80%);
  }
}
